.profilePic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: 1.4rem;

  @media only screen and (min-width: 730px) {
   margin: auto;
   width: auto;
   height: 200px;
  }
}

.container {
  display: flex;

  @media only screen and (min-width: 730px) {
    justify-content: center;
    align-items: center;
  }
}
