* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "OpenSansLight";
  src: local("OpenSansLight"),
   url("./fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
   font-weight: lighter;
  }
